<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis películas</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <%- include('partials/nav.ejs') %>

    <div class="mis_peliculas_container">
      <div class="no_movies js-display-none js-no-movies js-opacity-0 js-opacity-transition">
        <img src="img/empty_cinema.jpg" class="image_empty_cinema" alt="empty cinema">
        <div class="no_movies_msg_and_button">
          <p class="message_no_cards">Parece ser que no hay ninguna película...</p>
          <a href="/add_movies" class="button_buscar_peliculas"> Buscar películas</a>
        </div>
      </div>
      <div class="mis_peliculas_cards">
        <% for (let i=0; i < movies.length; i++) { %>
          <div class="card js-card">
            <img src="<%= movies[i].image %>" class="card_image" alt="los increibles">
            <div class="container_info_card js-info-container">
              <div class="info_card js-info-card">
                <div class="js-movie-id js-display-none"><%= movies[i].id %></div>
                <div class="titulo_and_value">
                  <p class="titulo">Título original</p>
                  <p class="titulo_value">
                    <%= movies[i].name %>
                  </p>
                </div>
                <div class="director_and_value">
                  <p class="director">Director</p>
                  <p class="director_value">
                    <%= movies[i].director %>
                  </p>
                </div>
                <div class="fecha_and_value">
                  <p class="fecha">Fecha de lanzamiento</p>
                  <p class="fecha_value">
                    <%= movies[i].date %>
                  </p>
                </div>
                <% if (movies[i].rating) { %>
                  <% const rating =  movies[i].rating  %>
                  <div class="calificacion_and_value js-rating-div">
                    <p class="fecha">Mi calificación</p>
                    <div class="my_stars">
                      <% for (let i=0; i < rating; i++) { %>
                        <img class="js-star-my-rating" alt="star" src="img/star_yellow.svg">
                      <% } %>
                      <% for (let i=rating; i < 5; i++) { %>
                        <img class="js-star-my-rating" alt="star" src="img/star_empty.svg">
                      <% } %>
                    </div>
                  </div>
                <% } else { %>
                  <div class="calificacion_and_value js-rating-div js-display-none">
                    <p class="fecha">Mi calificación</p>
                    <div class="my_stars">
                      <img class="js-star-my-rating" alt="star">
                      <img class="js-star-my-rating" alt="star">
                      <img class="js-star-my-rating" alt="star">
                      <img class="js-star-my-rating" alt="star">
                      <img class="js-star-my-rating" alt="star">
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="action_icons">
                <% if (movies[i].rating) { %>
                  <img src="img/edit_icon.svg" class="icon_edit js-icon-edit-rating" alt="edit_icon">
                <% } else { %>
                  <img src="img/edit_icon.svg" class="js-display-none icon_edit js-icon-edit-rating" alt="edit_icon">
                <% } %>
                <img src="img/trash_can.svg" class="icon_delete_card js-icon-delete" alt="delete icon">
              </div>
              <% if (movies[i].rating) { %>
                <button type="button" class="js-button-rate button_calificar js-display-none">Calificar</button>
              <% } else { %>
                <button type="button" class="js-button-rate button_calificar">Calificar</button>
              <% } %>
            </div>
            <div class="container_puntuar js-rating-container">
              <img src="img/arrow_left.svg" class="arrow_left js-arrow-calificar" alt="arrow left">
              <h1>¿Qué te pareció la película?</h1>
              <div class="stars">
                <img src="img/star_yellow.svg" class="js-star" alt="star">
                <img src="img/star_empty.svg" class="js-star" alt="star">
                <img src="img/star_empty.svg" class="js-star" alt="star">
                <img src="img/star_empty.svg" class="js-star" alt="star">
                <img src="img/star_empty.svg" class="js-star" alt="star">
              </div>
              <p class="rating"><span class="js-rating">1</span> / 5</p>
              <div class="action_buttons">
                <button type="button" class="button_cancelar js-button-cancelar">Cancelar</button>
                <button type="submit" class="button_enviar js-enviar-calificacion">Enviar</button>
              </div>
            </div>
            <div class="container_borrar js-container-delete">
              <div class="info_borrar js-info-borrar">
                <img src="img/arrow_left.svg" class="arrow_left js-arrow-delete" alt="arrow left">
                <h1>¿Deseas borrar la película de tu lista?</h1>
                <div class="action_buttons">
                  <button type="button" class="button_cancelar js-button-cancel-delete">Cancelar</button>
                  <button type="submit" class="button_borrar js-button-borrar">Borrar</button>
                </div>
              </div>
              <div class="msg_deleted js-msg-deleted js-opacity-0">
                <p>Película borrada exitosamente</p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <script src="js/main.js"></script>
    </div>
</body>

</html>